{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
  {{ macros.m_hr() }}
  {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
  {{ macros.setting_button([['global_reset_db_btn', '목록 전체 지우기']], left='DB정리' ) }}
  <form id='setting' name='setting'>
  {{ macros.setting_input_text('schedulerInterval', '스케쥴링 실행 주기', value=arg['schedulerInterval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
  {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 사용 설정합니다.') }}
  {{ macros.setting_input_text('source_base_path', '소스 경로', value=arg['source_base_path'], desc=['소스 경로. 구분자 ,', '영화, 한국 드라마/쇼 등이 들어있는 폴더']) }}
  {{ macros.setting_input_text('movie_base_path', '영화가 이동할 경로', value=arg['movie_base_path'], desc=['영화가 이동할 경로']) }}
  {{ macros.setting_input_text('movie_sort', '영화 폴더 순서', value=arg['movie_sort'], desc=['국가, 연도, 장르, 등급, 해상도 우선순위 정의, 안쓰는것은 제거']) }}
  {{ macros.setting_input_textarea('movie_country_option', '국가 옵션', value=arg['movie_country_option'], row='10', desc=['앞 - 다음 기반 국가 이름', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_input_text('etc_movie_country', '국가 예외 옵션', value=arg['etc_movie_country'], desc=['설정하지 않은 경우 기타 항목의 폴더 이름']) }}
  {{ macros.setting_input_textarea('movie_year_option', '연도 옵션', value=arg['movie_year_option'], row='10', desc=['앞 - 기준으로 하고 싶은 연도 입력', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_input_textarea('movie_genre_option', '장르 옵션', value=arg['movie_genre_option'], row='7', desc=['앞 - 다음 기준 장르 이름', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_input_text('etc_movie_genre', '장르 예외 옵션', value=arg['etc_movie_genre'], desc=['설정하지 않은 경우 기타 항목의 폴더 이름']) }}
  {{ macros.setting_input_text('movie_rate_option', '등급 옵션', value=arg['movie_rate_option'], desc=['앞 - 다음 기준 등급 이름', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_input_text('etc_movie_rate', '등급 예외 옵션', value=arg['etc_movie_rate'], desc=['설정하지 않은 경우 기타 항목의 폴더 이름']) }}
  {{ macros.setting_input_text('movie_resolution_option', '해상도 옵션', value=arg['movie_resolution_option'], desc=['앞 - 720, 1080, 2160', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_checkbox('uhd_flag', 'UHD 따로 처리', value=arg['uhd_flag'], desc='On : uhd 따로 처리') }}
  {{ macros.setting_input_text('uhd_base_path', 'UHD 영화가 이동할 경로', value=arg['uhd_base_path'], desc=['UHD 영화가 이동할 경로']) }}
  {{ macros.setting_checkbox('eng_title_flag', 'UHD인 경우 eng title', value=arg['eng_title_flag'], desc='On : UHD인 경우 english title 사용') }}
  {{ macros.setting_checkbox('ani_flag', '애니 따로 처리', value=arg['ani_flag'], desc='On : 애니 따로 처리') }}
  {{ macros.setting_input_text('ani_base_path', '애니메이션이 이동할 경로', value=arg['ani_base_path'], desc=['애니메이션이 이동할 경로']) }}
  {{ macros.setting_input_text('ktv_drama_base_path', 'ktv drama가 이동할 경로', value=arg['ktv_drama_base_path'], desc=['ktv drama가 이동할 경로']) }}
  {{ macros.setting_checkbox('uhd_ktv_drama_flag', 'UHD ktv drama 따로 처리', value=arg['uhd_ktv_drama_flag'], desc='On : uhd ktv drama 따로 처리') }}
  {{ macros.setting_input_text('uhd_ktv_drama_base_path', 'UHD ktv drama가 이동할 경로', value=arg['uhd_ktv_drama_base_path'], desc=['UHD ktv drama가 이동할 경로']) }}
  {{ macros.setting_input_text('ktv_show_base_path', 'ktv show가 이동할 경로', value=arg['ktv_show_base_path'], desc=['ktv show가 이동할 경로']) }}
  {{ macros.setting_checkbox('ktv_show_genre_flag', 'ktv show 장르 별 처리', value=arg['ktv_show_genre_flag'], desc='On : ktv show 장르별 처리, 없는것은 예외로 처리하는 항목에서 설정') }}
  {{ macros.setting_input_text('etc_show_genre', 'ktv show 장르 예외 옵션', value=arg['etc_show_genre'], desc=['기타 항목의 폴더 이름']) }}
  {{ macros.setting_input_text('error_path', '예외처리된 파일이 이동할 경로', value=arg['error_path'], desc=['예외처리된 파일이 이동할 경로']) }}
  {{ macros.setting_button_with_info([['toggle_btn', 'Toggle', [{'key':'category', 'value':'advanced'}]]], left='고급설정', desc=None) }}
    <div id="toggle_advanced_div" class="collapse">
      {{ macros.setting_input_text('folder_rule', '폴더명 규칙', value=arg['folder_rule'], desc=['지정해도 정보를 받아 온 경우에만 잇는 정보로 설정됨' '%TITLE% - 영화제목', '%YEAR% - 년도', '%ENG_TITLE% - 영문제목', '%COUNTRY% - 국가', '%GENRE% - 장르', '%RATE% - 등급', '%DURING% - 재생시간', '', '예) %TITLE% [%ENG_TITLE%] (%YEAR%)', '미스 슬로운 [Miss Sloane] (2016)']) }}
      {{ macros.setting_input_text('interval', '건당처리지연시간', value=arg['interval'], desc=['기준단위 : 초']) }}
      {{ macros.setting_checkbox('emptyFolderDelete', '빈폴더 삭제', value=arg['emptyFolderDelete'], desc='On : 작업후 빈폴더 삭제') }}
      {{ macros.setting_checkbox('extraMove', '추가 폴더 이동', value=arg['extraMove'], desc='On : 작업후 추가 폴더 이동') }}
      {{ macros.setting_checkbox('extraFilesMove', '추가 파일 이동', value=arg['extraFilesMove'], desc='On : 작업후 추가 파일 이동 poster, movie.nfo, fanart') }}
	  {{ macros.setting_checkbox('telegram', '알림', value=arg['telegram'], desc=['ID : files_move_result (파일이동 결과)']) }}
    </div>
  {{ macros.setting_button([['global_setting_save_btn', '저장']]) }}
  </form>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#toggle_btn', function(e){
  e.preventDefault();
  category = $(this).data('category')
  var div_name = '#toggle_'+category+'_div'
  $(div_name).collapse('toggle')
});

</script>
{% endblock %}
